In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./companies_featured_targets.csv')

In [6]:
df.shape

(196553, 23)

In [5]:
df.columns

Index(['id', 'name', 'status', 'category_code', 'country_code', 'state_code',
       'region', 'founded_at', 'founded_year', 'company_age_years',
       'age_group', 'funding_total_usd', 'has_funding', 'failure_risk',
       'risk_tier', 'risk_tier_label', 'funding_velocity', 'funding_vs_avg',
       'funding_vs_industry_avg', 'founding_era', 'funding_stage',
       'industry_growth_index', 'industry_growth_rate'],
      dtype='object')

In [7]:
df.head()

,id,name,status,category_code,country_code,state_code,region,founded_at,founded_year,company_age_years,...,failure_risk,risk_tier,risk_tier_label,funding_velocity,funding_vs_avg,funding_vs_industry_avg,founding_era,funding_stage,industry_growth_index,industry_growth_rate
0,c:1,Wetpaint,operating,web,USA,WA,Seattle,2005-10-17,2005.0,20.0,...,0,0,low_risk,1987500.0,2.682816,4.954476,2001-2008,Growth,0.453896,0.860335
1,c:10,Flektor,acquired,games_video,USA,CA,Los Angeles,NaN,2007.0,18.0,...,1,2,high_risk,NaN,NaN,NaN,2001-2008,Exit (Acquired),0.604618,1.752703
2,c:100,There,acquired,games_video,USA,CA,SF Bay,NaN,2007.0,18.0,...,1,2,high_risk,NaN,NaN,NaN,2001-2008,Exit (Acquired),0.604618,1.752703
3,c:10000,MYWEBBO,operating,network_hosting,NaN,NaN,unknown,2008-07-26,2008.0,17.0,...,1,2,high_risk,NaN,NaN,NaN,2001-2008,Late,0.739453,0.591708
4,c:10001,THE Movie Streamer,operating,games_video,NaN,NaN,unknown,2008-07-26,2008.0,17.0,...,1,2,high_risk,NaN,NaN,NaN,2001-2008,Late,0.469998,-0.222654

In [8]:
df['funding_total_usd'].describe()

count    2.787400e+04
mean     1.481652e+07
std      6.775937e+07
min      2.910000e+02
25%      5.000000e+05
50%      2.564500e+06
75%      1.100000e+07
max      5.700000e+09
Name: funding_total_usd, dtype: float64